<!DOCTYPE html>
<html lang="en">

<head>
     <link rel="stylesheet" href="css/1.css" media="all" type="text/css">
     <link rel="stylesheet" href="css/mob.css" media="only screen and (max-device-width: 600px)" type="text/css">
   <link rel="stylesheet" href="css/nav.css">
    <meta charset="UTF-8">
    <meta name="description" content="{{page.description}}" />
    <meta http-equiv="date" content="{{page.date |date: '%A, %d  %Y %H:%M:%S GMT'}}" />
    <meta name="robots" content="{{page.index}}INDEX,FOLLOW" />
    <title>{{ page.title }}</title>
</head>

<div class="ban"> </div>

<body id="{{ page.id }}">
